:root {
    --text: #333;
    --background: #fff;

    --link: #953535;
    --link-semi: rgba(149, 53, 53, .75);
    --link-hover-foreground: #fff;
    --link-hover-background: var(--link-semi);

    --interaction-color: #22778e;

    --nav-background: var(--link-semi);
    --nav-link-border-color: rgba(255,255,255,.5);

    --code-background-inline: #bb99;
    --code-foreground-inline: #345;

    --code-background-block: #345;
    --code-foreground-block: #bb9

}
body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
h1 {
    font-size:3rem;
    font-weight: 300;
    margin: .5rem 0 .5rem 0;
}
h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 3rem 0 0 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
h2.subline, h3.subline {
    font-size: 1rem;
    margin-top: -.5rem;
    font-weight: 300;
    color: tomato;
}

/*noinspection CssUnusedSymbol*/
h3.subline {
    margin-top: -1.5rem;
}

h3 {
    margin-top: 3rem;
}

h2 + h3 {
    margin-top: 1rem;
}

dl {
    display: grid;
    grid-template-columns: [dt] minmax(min-content, max-content) [dd] 1fr;
}
dt, dd{
    box-sizing: border-box;
    margin: .5rem 0;
}

dt {
    text-align: right;
    max-width: 16rem;
    grid-column: dt;
    margin-right: 1rem;
}

dd {
    grid-column: dd;
}

main a {
    color: var(--link);
    display: inline-block;
}
main a:hover {
    background-color: var(--link-hover-background);
    color: var(--link-hover-foreground);
    padding: .3125rem;
    margin: -.3125rem;
}

code {
    background-color: var(--code-background-inline);
    color: var(--code-foreground-inline);
    font-weight: bold;
    padding: .25rem;
    margin: -.25rem 0;
    border-radius: .25rem;
    display: inline-block;
}
pre code {
    background-color: var(--code-background-block);
    color: var(--code-foreground-block);
    display: block;
    padding: 2rem 1rem;
    overflow-x: auto;
    margin: 1rem 0;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--nav-background);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

nav.main-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1rem 1rem 0 1rem;
    min-height: 4rem;
}

nav.main-navigation a {
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;

    color: var(--link-hover-foreground);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border: 1px solid transparent;
    border-bottom-width: 0;
}

nav.main-navigation a.active,
nav.main-navigation a:hover,
nav.main-navigation a:focus {
    color: var(--link-hover-foreground);
    background-color: var(--link-hover-background);
}

nav.main-navigation a.active {
    border-color: var(--nav-link-border-color);
}

nav.main-navigation a:last-child {
    border-top-right-radius: 5px;
}

main {
    padding: 1rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

nav.sub-navigation {
    position: sticky;
    bottom: 0;
    order:5;
    color: var(--link-hover-foreground);
    background-color: var(--link-hover-background);
    min-height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;

    margin-top: auto;
}

nav.sub-navigation a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    color: inherit;
    text-decoration: none;
    padding: 1rem 3rem;
    border: 1px solid transparent;
}
@media all and (min-width: 1330px) {
    nav.sub-navigation {
        position: fixed;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        max-width: 20rem;

        padding: 0 0;

        flex-flow: column nowrap;

        border-radius: 0 1rem 1rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);

        background-color: var(--nav-background);
        color: #fff;
    }

    nav.sub-navigation a:first-child {
        border-top-right-radius: 1rem;
    }

    nav.sub-navigation a:last-child {
        border-bottom-right-radius: 1rem;
    }
    nav.sub-navigation a {
        border-left-width: 0;
        border-right-width: 0;
    }
}

nav.sub-navigation a.active,
nav.sub-navigation a:hover,
nav.sub-navigation a:focus {
    background-color: var(--link-hover-background);
}
nav.sub-navigation a.active {
    border-color: var(--nav-link-border-color);
}

.cta-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.cta, .cta:hover {
    margin: 1rem;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 0.75em;
}

.cta.default, .cta:hover {
    background: linear-gradient(#2fa4c3, #2990ab);
    color: #fff;
}

.cta.default:hover, .cta {
    background: #fff;
    color: var(--interaction-color);
    border: 1px solid var(--interaction-color);
}


