{% import "helper/navigation.html.twig" as nav %}
<!DOCTYPE html>
<html lang="{{ var.locale|default('en') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" >
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ css('main.css') }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<header>
    <nav role="navigation" aria-label="main navigation" class="main-navigation">
        {{ nav.item_exact('Startpage', '/index.html', requested_path, '/') }}
        {{ nav.item('Setup', '/setup', requested_path, '/setup.html') }}
        {{ nav.item('Concept', '/concept', requested_path, '/concept.html') }}
    </nav>
</header>
<nav role="navigation" aria-label="sub navigation" class="sub-navigation">
    {% if requested_path starts with '/setup' %}
        {{ nav.item('Setup the server', '/setup/server', requested_path, '/setup/server.html') }}
        {{ nav.item('Auto deployment', '/setup/auto-deployment', requested_path, '/setup/auto-deployment.html') }}
        {{ nav.item('Manual deployment', '/setup/manual-deployment', requested_path, '/setup/manual-deployment.html') }}
    {% endif %}
    {%  if requested_path starts with '/concept' %}
        {{ nav.item('Markdown content', '/concept/yaml-and-markdown', requested_path, '/concept/yaml-and-markdown.html') }}
        {{ nav.item('Twig templates', '/concept/twig-templates', requested_path, '/concept/twig-templates.html') }}
    {% endif %}
</nav>
<main>
{% block body %}
    Hello World
{% endblock %}
</main>
</body>
</html>
